@media (max-width: 1800px) {
.img-two{
  width: 13vw;
    bottom: 14%;
    position: absolute;
  }
  .img-three{
    position: absolute;
    left: -4%;
    width: 28vw;
    top: 10%;
  }
.img-four{
  display: none;
}
}

@media (max-width: 1600px) {
  .overlap {
    bottom: 20px;
  }
  .classes-section {
    width: 75vw;
  }
  .section-four-head-content {
    margin-left: 9%;
  }
  .section-four-content {
    width: 80vw;
    margin: auto;
  }
  .sec5-content {
    width: 75vw;
  }
  .sec6-content {
    width: 75vw;
  }
  .sec7-image-grid {
    width: 75vw;
  }
  .bmi-content {
    width: 75vw;
  }
  .prices-chart {
    width: 75vw;
  }
  .ftr-1-info {
    width: 75vw;
  }
  .footer-content {
    width: 75vw;
  }
}

@media (max-width: 1400px) {
  .about-section-container {
    width: 80vw;
    margin: auto;
  }
  .hero-section-content {
    width: 60%;
  }
  .classes-section {
    width: 78vw;
  }
  .section-four-head-content {
    margin-left: 7%;
  }
  .section-four-content {
    width: 88vw;
    margin: auto;
  }
  .sec5-content {
    width: 78vw;
  }
  .ftr-2-p {
    width: 230px;
  }
  .sec6-name {
    margin-top: 10px;
  }
  .prices-chart {
    width: 78vw;
  }
  .sec7-image-grid {
    width: 78vw;
  }
  .news-section .col-md-4{
    width: 26%;
  }
  .middlesection {
    display: none;
  }
  .hamburger-menu{
    display: flex;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .section-four-content {
    margin: 0px;
    gap: 0px;
  }
}

@media (max-width: 1200px) {
  .hero-section-content {
    width: 75%;
  }
  .classes-section {
    width: 92vw;
  }
  .section-four-content {
    width: 92vw;
    margin: auto;
  }
  .section-four-left {
    margin-right: 20px;
  }
  .section-four-head h2 {
    margin: 0;
  }
  .section-four-head-content {
    margin-left: 1%;
  }
  .sec5-content {
    width: 92vw;
  }
  .sec6-content {
    width: 80vw;
  }
  .sec6-image-grid {
    padding: 0;
  }
  .sec7-image-grid {
    width: 92vw;
  }
  .bmi-content {
    margin-left: 20px;
  }
  .prices-chart {
    width: 92vw;
  }
  .news-section .col-md-4 {
    width: 25%;
  }
  .ftr-1-info {
    margin-left: 20px;
  }
  .footer-content {
    width: 92vw;
  }
}

@media (min-width: 900px) and (max-width: 1000px) {
  .section-four-content {
    margin: 0px;
    gap: 0px;
  }
  .footer-content {
    margin: 0;
  }
  .section-four-content {
    flex-direction: column;
  }
  .section-four-left {
    display: flex;
    justify-content: center;
  }
  .section-four-right {
    width: 70vw;
    margin: auto;
  }
}
@media (max-width: 1000px){
  .news-section .btn{
    padding: 4px;
  }
}

@media (max-width: 900px) {
  .navbarone {
    padding: 5px 10px;
  }
  .join-now {
    padding: 2px;
  }
  .empty-div {
    width: 0px;
  }
  .cards-section {
    flex-direction: column;
  }
  .cards-section .card {
    margin-top: 0;
  }
  .cards-section .card1 {
    margin-top: -60px;
  }
  .abtsec-adv {
    margin-bottom: 65px;
  }
  .adv {
    padding: 20px;
  }
  .about-section-container {
    padding-bottom: 60px;
  }
  .lower-abtsec {
    width: 100%;
  }
  .abtsec-right {
    display: none;
  }
  .abtsec-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .abtsec-left .inf,
  .abtsec-left h1 {
    text-align: center;
  }
  .classes-grid-one {
    grid-template-columns: none;
    grid-template-rows: 400px 400px 400px;
  }
  .classes-grid-two {
    margin-top: 40px;
    grid-template-columns: none;
    grid-template-rows: 400px 400px 400px;
  }
  .section-four-content {
    flex-direction: column;
  }
  .section-four-head {
    background-size: 150% 100%;
    justify-content: center;
    padding: 80px 0;
  }
  .section-four-head-content {
    flex-direction: column;
  }
  .section-four-head h2 {
    text-align: center;
  }
  .section-four-button {
    margin-top: 35px;
  }
  .section-four-left {
    display: flex;
    justify-content: center;
  }
  .section-four-right {
    width: 70%;
    margin: auto;
  }
  .section-four-right p,
  .section-four-right h2 {
    text-align: center;
  }

  .sec5-display {
    width: 40%;
  }
  .sec5-grid {
    flex-wrap: wrap;
    gap: 50px;
  }
  .sec6-content {
    margin-top: 150px;
  }
  .sec6-display-img {
    display: none;
  }
  .emptydiv {
    width: 0px;
  }
  .footer1-sec {
    background-position: 65% 100%;
  }
  .footer-content {
    grid-template-columns: 48% 22% 22%;
    padding: 30px;
    margin: 0;
  }
  .ftr-2-p {
    font-size: 25px;
    width: max-content;
  }
}

@media (max-width: 800px){
  .ftr-p1{
    width: 340px;
  }
  .sec6-grid-image{
    width: 160px;
  }
  .chart-3, .chart-2, .chart-1 {
    width: 31%;
}


}
@media (max-width: 767px) {
  .join-now {
    padding: 5px;
  }
  .join-now i {
    padding: 6px;
  }
  .right-bar {
    display: none;
  }
  .hero-section-content {
    width: 88vw;
    align-items: center;
  }
  .hero-div {
    text-align: center;
  }
  .sec5-display {
    width: 50vw;
  }
  .sec6-image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .chart-1,
  .chart-2,
  .chart-3 {
    width: 56vw;
  }
  .prices-chart {
    flex-wrap: wrap;
    justify-content: center;
  }
  .row {
    flex-wrap: wrap;
  }
  .news-section .col-md-4 {
    width: 55vw;
  }
  .footer-content {
    grid-template-columns: 40% 22% 22%;
    gap: 30px;
  }
  .ftr-p2,
  .ftr-p1 {
    width: 95%;
  }
  .ftr-content-2 li,
  .ftr-content-3 li {
    font-size: 17px;
  }
}

@media (max-width: 700px) {
  .footer-content {
    padding: 18px;
    grid-template-columns: 45% 26% 26%;
    gap: 20px;
  }
  .ftr-2-p {
    font-size: 19px;
  }
  .ftr-content-2 li,
  .ftr-content-3 li {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .section-four-head h2 {
    width: 590px;
  }
  .sec7-image-grid {
    margin-bottom: 80px;
  }
  .psec-subheading {
    position: inherit;
  }
  .bmi-section {
    background-position: 100% 20%;
    padding: 18px;
    margin: 0;
  }
  .bmi-subheading {
    width: 95%;
    color: white;
  }
  .bmi-inpbox {
    padding: 10px 10px;
  }
  .inp-result {
    width: 520px;
    margin-top: 20px;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
  }
  .ftr-p2,
  .ftr-p1 {
    width: 50%;
  }
  .ftr-2-p {
    font-size: 25px;
  }
  .ftr-content-2 li,
  .ftr-content-3 li {
    font-size: 18px;
  }

  .ftr-content-1,
  .ftr-content-2,
  .ftr-content-3 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .join-now {
    display: none;
  }
  .hero-div {
    width: 70%;
  }
  .section-four-left img {
    width: 90%;
  }
  .section-four-head h2 {
    width: 480px;
  }
  .section-four-right {
    width: 100%;
  }
  .sec5-subheading {
    width: 100%;
  }
  .sec5-display {
    width: 65vw;
  }
  .sec6-content {
    height: max-content;
  }
  .bmi-inpbox {
    background-color: aliceblue;
    color: black;
    width: 180px;
  }
  .inp-result {
    width: 450px;
  }
  .psec-subheading {
    width: 450px;
    position: inherit;
  }
  .chart-1,
  .chart-2,
  .chart-3 {
    width: 65vw;
  }
  .news-section .col-md-4 {
    width: 65vw;
  }
}

@media (max-width: 400px) {
  .hero-p {
    width: 65%;
  }
  .abtsec-adv span {
    display: none;
  }
  .abtsec-adv {
    flex-wrap: wrap;
    justify-content: center;
  }
  .left-sec-button {
    margin-top: 25px;
  }
  .section-four-head h2 {
    width: 370px;
    font-size: 30px;
  }
  .sec4-right-grid {
    display: flex;
    flex-direction: column;
    gap: 45px;
    align-items: center;
  }
  .sec4-grid-p {
    width: 140px;
  }
  .sec5-display {
    width: 80vw;
  }
  .sec6-image-grid {
    flex-direction: column;
  }
  .sec7-subheading {
    width: 90%;
  }
  .psec-subheading {
    position: inherit;
  }
  .nsec-subheading,
  .psec-subheading {
    width: 390px;
  }
  .bmi-inpbox {
    width: 130px;
  }
  .inp-result {
    width: 350px;
  }
  .footer-content {
    padding: 18px 0;
  }
  .chart-1,
  .chart-2,
  .chart-3 {
    width: 80vw;
  }
}

@media (max-width: 320px) {
  .nsec-subheading,
  .psec-subheading {
    max-width: 100%;
  }
  .section-four-head h2 {
    max-width: 100%;
  }
  .section-four-head-content {
    margin: 0;
    max-width: 100%;
  }
  .psec-heading {
    position: inherit;
  }
  .bmi-section {
    padding: 10px 0;
  }
  .bmi-inp {
    flex-wrap: wrap;
  }
  .inp-result {
    max-width: 100%;
  }
  .bmi-heading {
    font-size: 32px;
  }
  .bmi-subheading {
    display: none;
  }
  .sec6-lr {
    display: none;
  }
}
